<div class="wrapper">
			<div class="tytul"><h2>Zarezerwuj stolik</h2></div>
			<div class="form">
				<div class="input_field">
					<label>Imię</label>
					<input type="text" class="input" />
				</div>

				<div class="input_field">
					<label>Nazwisko</label>
					<input type="text" class="input" />
				</div>

				<div class="input_field">
					<label>Telefon</label>
					<input type="text" class="input" />
				</div>

				<div class="input_field">
					<label>E-mail</label>
					<input type="text" class="input" />
				</div>

				<div class="input_field">
					<label>Data i godzina</label>
					<input type="datetime-local" class="input" />
				</div>

				<!-- wyżek powinna być opcja z wyborem daty i godziny-->
				<div class="input_field">
					<label>Ilość osób</label>
					<div class="custom">
						<select>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
						</select>
					</div>
				</div>

				<div class="submit">
					<input type="submit" value="Rezerwuję" />
				</div>
				<div class="wrapper1"></div>
			</div>
		</div>
