<section class="menu_header">
			<div class="tresc_header">
				<h2>Menu</h2>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, ullam?
				</p>
			</div>
		</section>
		<div class="menu">
			<div class="zawartosc">
				<div class="box">
					<div class="imgbox">
						<img src="../../assets/img/1.jpg" alt="kucharz" />
					</div>
					<div class="text"><h3>Lorem ipsum</h3></div>
				</div>

				<div class="box">
					<div class="imgbox">
						<img src="../../assets/img/2.jpg" alt="kucharz" />
					</div>
					<div class="text"><h3>Lorem ipsum</h3></div>
				</div>

				<div class="box">
					<div class="imgbox">
						<img src="../../assets/img/3.jpg" alt="kucharz" />
					</div>
					<div class="text"><h3>Lorem ipsum</h3></div>
				</div>

				<div class="box">
					<div class="imgbox">
						<img src="../../assets/img/4.jpg" alt="kucharz" />
					</div>
					<div class="text"><h3>Lorem ipsum</h3></div>
				</div>

				<div class="box">
					<div class="imgbox">
						<img src="../../assets/img/5.jpg" alt="kucharz" />
					</div>
					<div class="text"><h3>Lorem ipsum</h3></div>
				</div>

				<div class="box">
					<div class="imgbox">
						<img src="../../assets/img/6.jpg" alt="kucharz" />
					</div>
					<div class="text"><h3>Lorem ipsum</h3></div>
				</div>

				<div class="box">
					<div class="imgbox">
						<img src="../../assets/img/7.jpg" alt="kucharz" />
					</div>
					<div class="text"><h3>Lorem ipsum</h3></div>
				</div>

				<div class="box">
					<div class="imgbox">
						<img src="../../assets/img/8.jpg" alt="kucharz" />
					</div>
					<div class="text"><h3>Lorem ipsum</h3></div>
				</div>
        </div>