<section class="onas_header">
			<div class="onas_content_header">
				<h2>O nas</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
					quaerat nobis, reiciendis itaque aperiam possimus iusto harum quisquam
					laborum, fugit, ipsa nihil officiis ipsam libero! Porro quae error
					optio quisquam! Vitae, ipsa sit qui sint quisquam nulla quidem eius,
					rerum sequi quibusdam modi quis ipsum sed amet ea veniam officiis
					exercitationem debitis! Cum fugiat modi ex nisi eveniet repudiandae
					magni odit esse tenetur quasi at ducimus pariatur, consectetur dolor.
					Natus velit quas perferendis aspernatur! Deleniti earum eos omnis
					assumenda mollitia quisquam voluptatum hic. Totam ratione
					necessitatibus quod sapiente sint nam culpa praesentium, recusandae
					facilis quae repellendus vero dolorum blanditiis doloribus velit
					libero consequuntur laudantium corrupti unde dignissimos vel ipsum
					optio itaque.
				</p>
			</div>
		</section>
        <div class="grafika">
			<img src="../../assets/img/interior.jpg" alt="interior" />
		</div>
